<a href="https://colab.research.google.com/github/strejo4/ColabFiles_UACJ_PADP/blob/main/Practica14_SergioTrejo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Práctica #14: Limpieza y Transformación de Datos Categóricos

Enlace repositorio github: https://github.com/strejo4/ColabFiles_UACJ_PADP/blob/main/Practica14_SergioTrejo.ipynb

El objetivo de esta actividad es que los estudiantes practiquen los temas vistos de limpieza y transformación de datos categóricos.

Instrucciones:

Descarga el archivo CSV, nls97, proporcionado en esta tarea. También lo puedes encontrar en recursos.
Crea un notebook en colab y guarda el archivo csv descargado en tu drive.
Agrega secciones en el colab poniendo como título el nombre de cada ejercicio

Ejercicio 01: Errores Tipográficos y Valores Inconsistentes: maritalstatus

1. Imprime de la columna 'maritalstatus' los valores únicos.
2. Imprime la frecuencia de cada valor único
3. Cambia el valor 'Never-Married' a 'Single'
4. Imprime la frecuencia de cada valor único.

In [56]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/ClassFiles/nls97.csv")
#Imprime de la columna 'maritalstatus' los valores únicos.
print('Valores unico de la columna maritalstatus: \n', df['maritalstatus'].unique())
#Imprime la frecuencia de cada valor único
print('Frecuencia de la columna highestdegrees: \n', df['maritalstatus'].value_counts())
#Cambia el valor 'Never-Married' a 'Single'
df['maritalstatus'] = df['maritalstatus'].replace({'Never-married': 'Single'})
#Imprime la frecuencia de cada valor único.
print(df['maritalstatus'].value_counts())

Valores unico de la columna maritalstatus:
 ['Married' 'Never-married' nan 'Divorced' 'Separated' 'Widowed']
Frecuencia de la columna highestdegrees:
 maritalstatus
Married          3066
Never-married    2766
Divorced          663
Separated         154
Widowed            23
Name: count, dtype: int64
maritalstatus
Married      3066
Single       2766
Divorced      663
Separated     154
Widowed        23
Name: count, dtype: int64

Ejercicio 02: Errores Tipográficos y Valores Inconsistentes: highestdegree.

1. Imprime de la columna 'highestdegrees' los valores únicos.
2. Imprime la frecuencia de cada valor único
3. Observa que cada valor categórico empieza con 0. Modifica las categorías para que todas estén en minúsculas y ninguna empiece con un número. Por ejemplo, si dice "2. High School", debería ser 'high school.
4. Los cambios se realizarán en la misma columna 'highestdegrees'.
5. Imprime los nuevos valores únicos.

In [57]:
#Imprime de la columna 'highestdegrees' los valores únicos.
print('Valores unico de la columna highestdegree: \n', df['highestdegree'].unique())
#Imprime la frecuencia de cada valor único
print('Frecuencia de la columna highestdegree: \n', df['highestdegree'].value_counts())
#Observa que cada valor categórico empieza con 0. Modifica las categorías para que todas estén en minúsculas y ninguna empiece con un número.
#Por ejemplo, si dice "2. High School", debería ser 'high school.
#Los cambios se realizarán en la misma columna 'highestdegrees'.
df['highestdegree'] = df['highestdegree'].str.replace(r'^\d+\.', '', regex=True)
df['highestdegree'] = df['highestdegree'].str.lower()
#Imprime los nuevos valores únicos.
print('Valores unico de la columna highestdegree: \n', df['highestdegree'].unique())

Valores unico de la columna highestdegree:
 ['2. High School' '0. None' '4. Bachelors' '3. Associates' '5. Masters'
 '1. GED' '7. Professional' '6. PhD' nan]
Frecuencia de la columna highestdegree:
 highestdegree
2. High School     3667
4. Bachelors       1673
1. GED             1146
0. None             953
3. Associates       737
5. Masters          603
7. Professional     120
6. PhD               54
Name: count, dtype: int64
Valores unico de la columna highestdegree:
 [' high school' ' none' ' bachelors' ' associates' ' masters' ' ged'
 ' professional' ' phd' nan]

Ejercicio 03: Alta Cardinalidad - Frecuencias Bajas

1. De la columna 'maritalstatus' une las categorías Widowed y 'Single' en una categoría más general llamada 'Single/No Partner'.
2. Crea una nueva columna, 'marital_grouped' donde aparezcan las nuevas categorías de maritalstatus.
3. Imprime los valores únicos de la nueva columna 'marital_grouped'.
4. Imprime la frecuencia de los valores únicos de la nueva columna 'marital_grouped'

In [42]:
#De la columna 'maritalstatus' une las categorías Widowed y 'Single' en una categoría más general llamada 'Single/No Partner'.
# Crea una nueva columna, 'marital_grouped' donde aparezcan las nuevas categorías de maritalstatus.
df['maritalstatus_grouped'] = df['maritalstatus'].replace({'Widowed': 'Single/No Partner','Single': 'Single/No Partner'})
print(df['maritalstatus_grouped'])
#Imprime los valores únicos de la nueva columna 'marital_grouped'.
print('Valores unico de la columna maritalstatus_grouped: \n', df['maritalstatus_grouped'].unique())
#Imprime la frecuencia de los valores únicos de la nueva columna 'marital_grouped'
print('Frecuencia de la columna maritalstatus_grouped: \n', df['maritalstatus_grouped'].value_counts())

0                 Married
1                 Married
2       Single/No Partner
3                     NaN
4                 Married
              ...
8979              Married
8980    Single/No Partner
8981             Divorced
8982    Single/No Partner
8983              Married
Name: maritalstatus_grouped, Length: 8984, dtype: object
Valores unico de la columna maritalstatus_grouped:
 ['Married' 'Single/No Partner' nan 'Divorced' 'Separated']
Frecuencia de la columna maritalstatus_grouped:
 maritalstatus_grouped
Married              3066
Single/No Partner    2789
Divorced              663
Separated             154
Name: count, dtype: int64

Ejercicio 04: Tipos de Datos

1. Imprime el tipo de datos de la columna gender
2. Imprime la cantidad de bytes de dicha columna
3. Si la columna es de tipo object, modifica a category.
4. En caso de haber realizado la modificación del tipo de datos, imprime la cantidad de bytes que ocupa dicha columna con el nuevo tipo de datos

In [70]:
#Imprime el tipo de datos de la columna gender
print('Tipo de datos de la columna gender: \n', df['gender'].dtype)
#Imprime la cantidad de bytes de dicha columna
print(f'Memoria total en bytes: {df["gender"].memory_usage(deep=True)}')
#Si la columna es de tipo object, modifica a category.
df['gender'] = df['gender'].astype('category')
print('Tipo de datos de la columna gender: \n', df['gender'].dtype)
#En caso de haber realizado la modificación del tipo de datos, imprime la cantidad de bytes que ocupa dicha columna con el nuevo tipo de datos
print(f'Memoria total en bytes despues de modificar el tipo de dato: {df["gender"].memory_usage(deep=True)}')

Tipo de datos de la columna gender:
 object
Memoria total en bytes: 485054
Tipo de datos de la columna gender:
 category
Memoria total en bytes despues de modificar el tipo de dato: 9332