<a href="https://colab.research.google.com/github/strejo4/ColabFiles_UACJ_PADP/blob/main/Practica13_SergioTrejo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Practica # 13. Limpieza y Transformación de Datos
Enlace repositorio github: https://github.com/strejo4/ColabFiles_UACJ_PADP/blob/main/Practica13_SergioTrejo.ipynb

El objetivo de esta actividad es que los estudiantes practiquen los temas vistos de carga de datos, normalización de nombres de columnas, separación y unión de columnas, errores en los tipos de datos. Todo es en un conjunto de datos utilizando Pandas en Python.

Instrucciones:

1. Descarga el archivo CSV, miaad-nyc-r-s.csv, proporcionado en esta tarea.También lo puedes encontrar en recursos.
2.  Crea un notebook en colab y guarda el archivo csv descargado en tu drive.
3. Agrega secciones en el colab poniendo como título el nombre de la práctica.

Práctica 13: Carga de Datos

Al final del archivo contiene una línea que dice "Esta es una línea que no deberías cargar". Esta línea es irrelevante por lo tanto al cargar el CSV a un dataframe se debería de ignorar.

Carga el archivo a un dataframe usando el código necesario para omitir la última fila.
Usa df.tail(3) para demostrar que no has cargado la última línea
Imprime la cantidad de filas y columnas del dataframe

In [4]:
#Cargar datos utilizando pandas
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/ClassFiles/miaad-nyc-r-s.csv', skipfooter=1, engine='python')
print("Dimensiones del dataframe:", df.shape)
df.tail(3)

Dimensiones del dataframe: (84548, 22)

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
84545,8411,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7351,60,,B2,49 PITNEY AVENUE,...,2,0,2,4000,1496,1925,1,B2,460000,2017-07-05 00:00:00
84546,8412,5,WOODROW,22 STORE BUILDINGS,4,7100,28,,K6,2730 ARTHUR KILL ROAD,...,0,7,7,208033,64117,2001,4,K6,11693337,2016-12-21 00:00:00
84547,8413,5,WOODROW,35 INDOOR PUBLIC AND CULTURAL FACILITIES,4,7105,679,,P9,155 CLAY PIT ROAD,...,0,1,1,10796,2400,2006,4,P9,69300,2016-10-27 00:00:00

Práctica 14: Agregar una columna

Imprime los nombres de la columnas del archivo
Asegúrate que el nombre de la primera columna debería ser INDEX MIIAD. Si esto no es así, entonces agrega dicho nombre a la columna y vuelve a imprimir los nombres para mostrar el cambio realizado.

In [5]:
#Imprimir los nombres originales de las columnas y luego renombrar la primera columna con INDEX MIIAD
print(df.columns)
df.rename(columns={'Unnamed: 0': 'INDEX MIIAD'}, inplace=True)
print(df.columns)

Index(['Unnamed: 0', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')
Index(['INDEX MIIAD', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

Práctica 15: Normalización de los nombres de la columna.

Normaliza los nombres de las columnas, los cuales deberán estar en minúsculas. Asimismo, reemplaza los espacios con guion bajo
Imprime los nombres de las columnas para demostrar que has realizado la normalización.

In [15]:
#Normalizar el nombre de las columnas, las cuales deberan estar en minusculas,
df.columns = df.columns.str.lower().str.replace(' ', '_')
print('Despues de la normalizacion: ',df.columns)

Despues de la normalizacion:  Index(['index_miiad', 'borough', 'neighborhood', 'building_class_category',
       'tax_class_at_present', 'block', 'lot', 'ease-ment',
       'building_class_at_present', 'address', 'apartment_number', 'zip_code',
       'residential_units', 'commercial_units', 'total_units',
       'land_square_feet', 'gross_square_feet', 'year_built',
       'tax_class_at_time_of_sale', 'building_class_at_time_of_sale',
       'sale_price', 'sale_date'],
      dtype='object')

Práctica 16: Errores en los Tipos de Datos

Imprime los tipos de datos de cada columna.
Asegúrate que las columnas de SALE PRICE(sale_price), LAND SQUARE FEET (land_square_feet), GROSS SQUARE FEET (gross_square_feet) sean de tipo flotante. Escribe qué tipo de dato tienen asignado. Si no son correctos, realiza el cambio.
Imprime de nuevo los tipos de datos para demostrar que has arreglado el problema.

In [28]:
#Imprimir los tipos de datos de cada columna
print('\nTipos de datos (antes):\n ', df.dtypes)
df['sale_price'] = pd.to_numeric(df['sale_price'], errors='coerce').astype('float64')
df['land_square_feet'] = pd.to_numeric(df['land_square_feet'], errors='coerce').astype('float64')
df['gross_square_feet'] = pd.to_numeric(df['gross_square_feet'], errors='coerce').astype('float64')
print('\nTipos de datos (después):\n', df.dtypes)

Tipos de datos (antes):
  index_miiad                         int64
borough                             int64
neighborhood                       object
building_class_category            object
tax_class_at_present               object
block                               int64
lot                                 int64
ease-ment                          object
building_class_at_present          object
address                            object
apartment_number                   object
zip_code                            int64
residential_units                   int64
commercial_units                    int64
total_units                         int64
land_square_feet                  float64
gross_square_feet                 float64
year_built                          int64
tax_class_at_time_of_sale           int64
building_class_at_time_of_sale     object
sale_price                        float64
sale_date                          object
dtype: object

Tipos de datos (después):
 index_miiad                         int64
borough                             int64
neighborhood                       object
building_class_category            object
tax_class_at_present               object
block                               int64
lot                                 int64
ease-ment                          object
building_class_at_present          object
address                            object
apartment_number                   object
zip_code                            int64
residential_units                   int64
commercial_units                    int64
total_units                         int64
land_square_feet                  float64
gross_square_feet                 float64
year_built                          int64
tax_class_at_time_of_sale           int64
building_class_at_time_of_sale     object
sale_price                        float64
sale_date                          object
dtype: object

Práctica 17: Genera el diccionario de datos del dataframe preprocesado. Imprime el contenido de dicho diccionario

In [32]:
#Generar un diccionario de datos del dataframe
data_dict = df.dtypes.to_dict()
for columna, tipo in data_dict.items():
    print(f'{columna}: {tipo}')

index_miiad: int64
borough: int64
neighborhood: object
building_class_category: object
tax_class_at_present: object
block: int64
lot: int64
ease-ment: object
building_class_at_present: object
address: object
apartment_number: object
zip_code: int64
residential_units: int64
commercial_units: int64
total_units: int64
land_square_feet: float64
gross_square_feet: float64
year_built: int64
tax_class_at_time_of_sale: int64
building_class_at_time_of_sale: object
sale_price: float64
sale_date: object